#sidebar .site-title 
{
  line-height: 1;
  margin-bottom: 1rem;
}

#sidebar nav>*
{
  line-height: 1.5;
}

hr
{
  margin: 1rem 0;
  border-top: 1px solid #0a0fb5;
  border-bottom: 1px solid #0a0fb5;
}

td,
th
{
    border: 1px solid #0a0fb5;
}

th
{
    color: #ffffff;
    background-color: #0a0f85;
}
